table, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 60%;
    height: 30%;
    margin-top: 10%;

    .top-row {
        background-color: rgb(36, 59, 60);
        color: white;
    }
}