$edit-btn: rgba(255, 252, 68, 0.995);
$edit-btn-hover:  rgb(107, 107, 1);
$delete-btn: rgb(252, 44, 44);
$delete-btn-hover: rgb(173, 0, 0);
$save-btn: rgb(28, 255, 28);
$save-btn-hover:  green;
$cancel-btn: rgb(255, 179, 37);
$cancel-btn-hover: rgb(135, 88, 1);