.header {
    color: white;
    font-weight: 400;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: rgb(36, 59, 60);

    .logo {
        width: 2em;

        img {
            width: 100%;
        }
    }
}